body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255,255,255);
}

header {
    text-align: center;
    background-color: rgb(255,255,255);
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#main-container {
    background-color: rgb(255, 255, 255);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0 0px 12px rgba(0, 0, 00, 0.1); /* Shadow effect */
    display: flex; /* Enables flexbox layout */
    align-items: flex-start; /* Aligns children to the start of the cross axis */
}

.purple {
    color: #5524fd;
}

.container {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    height: 535px; /* adjust from 525px for 50px top padding */
    width: 50%;
}

nav a {
    color: black;
    padding-right: 10px;
}

nav {
    display: flex;
}

nav a {
    align-items: center;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    display: inline-block;
    transition: transform 0.35s ease;
}

a {
    align-items: center;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    display: inline-block;
    transition: transform 0.35s ease;
}

#about-link:hover,
#contact-link:hover,
#github-link:hover {
    transform: scale(1.15);
}

.grey {
    color: #A9A9A9;
}

#description {
    line-height: 1.8;
}

#map-container {
    flex-grow: 1; /* Takes up the remaining space */
    width: 50%; /* Adjusts the width dynamically based on the width of bathroom-container */
    /* other styles for map-container */
}

#map {
    height: 585px;
    /* height: 100%;
    width: 100%; */
}

.icons {
    width: 30px;
    height: 30px;
}

#toilet-container,
#urinal-container,
#sink-container,
#cleaniness-container,
#popularity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#toilet-container img.icons,
#urinal-container img.icons,
#sink-container img.icons,
#cleaniness-container img.icons,
#popularity-container img.icons {
    margin-right: 16px;
}



footer {
    text-align: center;
    padding: 35px 0;
    font-size: 0.8em;
}

.footer-content {
    display: inline-block;
}

.footer-content a,
.footer-content .version,
.footer-content p {
    display: inline;
    margin: 0 10px;
    text-decoration: none;
    color: #333333;
}

.footer-content a:hover {
    text-decoration: underline;
}


@media (max-width: 1200px) {
    #main-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #info-container,
    #bathroom-container {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }

    #map-container {
        width: 100%;
        box-sizing: border-box;
    }

    #map {
        height: 50vh;
        width: 100%;
    }
}


.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc; /* Light grey border */
    padding: 5px 15px; /* Padding around the search box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 300px; /* Maximum width of the search box */
    border-radius: 2px;
}

.search-box input[type="search"] {
    border: none; /* No border for the input */
    outline: none; /* Remove the outline on focus */
    padding: 10px; /* Space inside the input */
    margin-right: 10px; /* Space between the input and the icon */
    flex-grow: 1; /* Let the input grow to fill space */
}

/* Styling for the search icon */
.search-icon {
    cursor: pointer;
    color: #333333; /* Color for the icon */
    font-size: 18px; /* Size of the icon */
}

/* Placeholder styling */
.search-box input::placeholder {
    color: #aaaaaa; /* Light grey color for placeholder text */
}

/* For focus state */
.search-box input[type="search"]:focus {
    outline: none;
    box-shadow: none; /* If you don't want any focus indication */
}

.red {
    color: red;
}

